.main section {
	border: dotted 0 gray;
	border-top-width: 0.2rem;
	border-bottom-width: 0.2rem;
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
	padding-top: 0.4rem;
	border-radius: 5px;
}
article > p,
.main p {
	border: dashed 1px lightcyan;
	background-color: white;
	margin: .25rem;
	padding: 1.25rem;
}
section ul,section ol {
  color: #1e366a;
  border: dotted #1e366a 1px;/*ドット 色 太さ*/
  padding: 0.5em 0.5em 0.5em 2em;
}

.main section li {
  line-height: 1.5;
  padding: 0.5em 0;
}
.main section table {
	background-color: linen;
}
.main figure {
	width:100%;
	overflow-x: scroll;
	border-right-width:0;
	border-left-width:0;
	background-color: white;
}
.main pre {
	border: ridge 4px lightcoral;
	border-radius: 1rem;
	background-color: white;
}
.main details {
	box-shadow: 1px 1px 2px gray;
	margin: .75rem .25rem;
	padding: .5rem;
	border: solid 1px orange;
	background-color: white;
	margin: 0px 26px 10px;
}
.main details > summary {
	cursor: pointer;
}
.main dl > dd {
	background-color: white;
	padding: .5rem;
}
section address {
	padding: 1rem;
	box-shadow: 1px 1px 2px gray;
}                           
.main table tr {
	border-bottom: solid 1px gray;
}
.main table td,.main table th {
	padding:.5rem;
}
.main dl {
	padding: 1rem;
	box-shadow: 1px 1px 2px pink;
}
article img {
    width:100%;
}
table.vertical {
	display: block;
}
table.vertical tbody {
	display: block;
}
table.vertical tr {
	display: block;
	background-color: white;
	border: dotted 1px gray;
	border-radius: .5rem;
	margin: .5rem 0;
	padding: .5rem;
	box-shadow: 1px 1px 0px gray
}
table.vertical th,table.vertical td {
	display: block;
}
table.vertical thead {
	display:block;
}
table.vertical tfoot {
	display:block;
}
kbd{
    background-color: #7394b7;
}

@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');
:root {
	--breakpoint-width: 748px;
}

img.right {
	float:right;
}
img.left {
	float:left;
	margin-right:1rem;
}
article img {
	width:50%;
	shape-outside: margin-box;
}
@media screen and (max-width:748px) {
	article img {
		width:100%;
	}
}
main h1,.main h2,.main h3,.main h4,.main h5,.main h6 {
    font-weight: bold;
    margin-top: 0%;
    margin-left: 1rem;
    text-shadow: 2px 2px 2px #fff, -2px 2px 2px #fff, 2px -2px 2px #fff, -2px -2px 2px #fff, 2px 0px 2px #fff, 0px 2px 2px #fff, -2px 0px 2px #fff, 0px -2px 2px #fff;
    line-height: 120%;
}
/*23.見出しを無彩色にし、装飾を追加*/

main h2 {
/*H2の変更　H1と入れ替え+調整*/
color:black;
border-left: solid 5px gray;
padding-left: 10px;
}
h1 {
margin:4% 1%;
}

h2 {
margin:1% 1% 2%;
}


main section {
margin:4% 1% 0%;
}
/*47.文字間隔の調整*/
article section p {
	/*本文の幅を広げる*/
	line-height: 1.5;
	margin: 40px 0;
	/*文字ボックスの色を調整*/
	margin-left:0px;
	padding:1.25rem;
	border-top: solid 1px #121212;
	border-left: solid 1px #121212;
	border-right: solid 2px #727272;
	border-bottom: solid 2px #727272;
  }

  /*26.二重になっている線を1つに戻す*/
main section {
	padding-bottom:30px;
	border-top: solid 0px gray;
	border-bottom: solid 1px gray;
	border-radius:1px;
}

/*フッダー上の二重線部分を消す*/
main section:last-child {
	border-bottom: solid 0px gray;
}


/*メニューの緑が見づらい*/

main h3 {
	/*H2の変更　H1と入れ替え+調整*/
	color:black;
	border-bottom: solid 3px gray;
	padding-left: 5px;
	padding-bottom:10px;
}
/*30.ヘッダーの文字が薄い*/
.navbar-nav li a.nav-link{
	color:#111;
}

main {
	padding-top:20px;
}
#sidebar1-wide {
	padding-top:20px;
}